<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=help">
         <menu
               label="ADM">
            <command
                  commandId="kr.co.apexsoft.stella.adm.createLifelineCommand"
                  style="push">
            </command>
            <command
                  commandId="kr.co.apexsoft.stella.adm.createDiagramAndLifelineCommand"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="kr.co.apexsoft.stella.adm.createLifelineCommand"
            name="Create Lifeline">
      </command>
      <command
            id="kr.co.apexsoft.stella.adm.createDiagramAndLifelineCommand"
            name="Create Diagram and Lifeline">
      </command>
      <command
            id="kr.co.apexsoft.stella.adm.admTestCommand"
            name="ADM Test">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="kr.co.apexsoft.stella.adm.handler.CreateLifelineHandler"
            commandId="kr.co.apexsoft.stella.adm.createLifelineCommand">
         <activeWhen>
            <or>
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="kr.co.apexsoft.stella.modeler.ui.gmfTester.isDiagram"
                        value="true">
                  </test>
               </with>
            </or>
         </activeWhen>
      </handler>
      <handler
            class="kr.co.apexsoft.stella.adm.handler.CreateDiagramAndLifelineHandler"
            commandId="kr.co.apexsoft.stella.adm.createDiagramAndLifelineCommand">
         <activeWhen>
            <or>
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="kr.co.apexsoft.stella.modeler.ui.umlTester.isRootModel"
                        value="true">
                  </test>
               </with>
            </or>
         </activeWhen>
      </handler>
      <handler
            class="kr.co.apexsoft.stella.adm.handler.ADMTestHandler"
            commandId="kr.co.apexsoft.stella.adm.admTestCommand">
         <activeWhen>
            <or>
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="kr.co.apexsoft.stella.modeler.ui.umlTester.isRootModel"
                        value="true">
                  </test>
               </with>
            </or>
         </activeWhen>
      </handler>
   </extension>

</plugin>
